body{
  background: white;
  font-family: segoe ui, arial;
}
.btnSidebar:hover{
	
}

.ui.breadcrumb{
	font-size: 1.5em;
}

.divContener{	
	width: 100%;
  	margin: auto;
}
.divView{	
	width: 100%;
  	margin: auto;
}

a:hover{
	text-decoration: underline;
}


.ui.table tr.blue td,
.ui.table tr.blue td a, 
.ui.table td.blue {
background: #F5F5FF !important;
color: #458ac6 !important;
}

.ui.table tr.purple td, 
.ui.table tr.purple td a, 
.ui.table td.purple {
background: #EBD8FD !important;
color: #564f8a !important;
}

.ui.table tr.green td, 
.ui.table tr.green td a, 
.ui.table td.green {
background: #eeffe7 !important;
color: #66c17b !important;
}

.ui.table tr.lightred td, 
.ui.table tr.lightred td a,
.ui.table td.lightred {
background: #FCE3FC !important;
color: #dc6868 !important;
}

.stylestep
{
	width: 205px;
}

.tbTrangThai tr td:last-child{
	padding-left: 20px; 
}
.dangChon{
	background-color: #FAEB87;
}
#accordion .item a:hover{
	text-decoration:none;
}
.banner{
	position: relative;;
}
.imgBanner
{
	width:100%;
}

.top.info{
	position: absolute;
	top: 10px;
	right: 20px;
}

.ui.vertical.menu.main{
	width: 14rem;
}

.ui.hidden{
	display: none;
}

.ui.form .inline.fields .field>.date,
.ui.form .inline.fields .field>.form-date {
	display: inline-block;
	vertical-align: middle;
}

.ui.menu .selection.dropdown{
	border: 0;
}

.ui.right-bnt{
	position: absolute;;
	top: 5px;
	right: 5px;
}

.ui.deleted{
	text-decoration: line-through;
}
