<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script src="js/jquery.js"></script>
    <script src="vendor/semantic.js"></script>
    <link rel="stylesheet" type="text/css" href="vendor/semantic.css">
    <link rel="stylesheet" type="text/css" href="css/QuanLyCongVanLayout.css">
  </head>
  <body> 
    
    <div class="ui black button btnSidebar" style="margin-left:0px; margin-top:75px; position:fixed; width:100px;">
       Menu
    </div>
    <div class="ui page grid">      
      <div class="row">
        <div class="column">
          <!-- <div class="ui purple inverted segment">
            <h3 class="ui header">Phần Mềm Quản Lý Chỉ Đạo</h3>
            <div class="ui right floated segment">

            </div>
          </div> -->
          <div class="ui menu">
            <div class="ui green label item" style="width:215px;">Website Quản Lý Chỉ Đạo</div>
            
            <div class="right menu">
              <i class="ui green label item">Chào: Huỳnh Sa Quang</i>
              <a class="ui green label item" href="index.html" style="width:130px; text-align:center;">Đăng xuất</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">      
        <div class="column">
          <div class="divView">
            <div class="ui grid">
              <div class="two column row">                  
                <div class="eight wide column row">
                  <div class="ui breadcrumb">
                    <a class="section">Quản lý</a>
                    <div class="divider"> / </div>
                    <a class="section">Công việc</a>
                    <div class="divider"> / </div>
                    <div class="active section">Chi tiết Công Việc</div>
                  </div>
                </div>
                <div class="right aligned eight wide column row">
                  <div class="ui blue button" id="btnCongViecMoi">Công việc mới</div>
                  <div class="positive ui button" id="btnTrangThai">Cập nhật trạng thái</div>
                  <div class="negative ui button">Xóa công văn</div>
                </div>
              </div>   
              <div class="five column row">
                <div class="four wide column">
                  <div class="ui fluid selection dropdown" id="dropdownLocTheoLinhVuc">
                    <i class="filter icon"></i>
                    <span class="text">Lọc Theo Lĩnh Vực</span>
                    <div class="menu">
                      <div class="item">                        
                        <div class="ui checkbox">
                          <input type="checkbox">
                          <label>Công nghệt thông tin</label>
                        </div>
                      </div>
                      <div class="item">
                        <div class="ui checkbox">
                          <input type="checkbox">
                          <label>Công an</label>
                        </div>
                      </div>
                      <div class="item">
                        <div class="ui checkbox">
                          <input type="checkbox">
                          <label>Công an</label>
                        </div>
                      </div>                      
                    </div>
                  </div>
                </div>
                <div class="four wide column">
                  <div class="ui fluid selection dropdown" id="dropdownLocTheoTrangThai">
                    <i class="filter icon"></i>
                    <span class="text">Lọc Theo Trạng Thái</span>
                    <div class="menu">
                      <div class="item">
                         <div class="ui checkbox">
                          <input type="checkbox">
                          <label>Chưa xem</label>
                        </div>
                      </div>
                      <div class="item">
                        <div class="ui checkbox">
                          <input type="checkbox">
                          <label>Đang xử lý</label>
                        </div>
                      </div>
                      <div class="item">
                         <div class="ui checkbox">
                          <input type="checkbox">
                          <label>Hoàn thành</label>
                        </div>
                      </div>                      
                    </div>
                  </div>
                </div>
                <div class="three wide column">
                  <div class="ui form"><input type="date" placeholder="Lọc theo ngày bắt đầu"></div>                     
                </div>
                <div class="three wide column fluid">
                  <div class="ui form"><input type="date"></div>
                </div>
                <div class="right aligned two wide column fluid">
                  <div class="ui green button fluid" id="btnTim">Tìm</div>
                </div>
              </div>
              <div class="sixteen wide column fluid">
                <table class="ui table">
                  <thead>
                    <tr>
                      <th>Tên công việc</th>              
                      <th>Nội dung công việc</th>
                      <th>Thời gian</th>
                      <th>Người giao</th>
                      <th>Người theo dõi</th>
                      <th>Người chủ trì</th>
                      <th>Người thực hiện</th>
                      <th>Trạng thái</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    <tr class="blue">
                      <td><a href="chi-tiet-cong-viec.html">Công việc 1</a></td>
                      <td>Nội dung công việc</td>
                      <td>23/12/2014 - 23/12/2015</td>
                     
                      <td>Huỳnh Sa Quang</td>
                      <td>Lưu Kim Loan</td>
                      <td>Lưu Kim Loan</td>
                      <td>Phan Văn Thanh</td>
                      <td>chưa xem</td>
                    </tr> 
                    <tr class="purple">
                      <td><a href="chi-tiet-cong-viec.html">Công việc 2</a></td>
                      <td>Nội dung công việc</td>
                      <td>23/12/2014 - 23/12/2015</td>
               
                      <td>Huỳnh Sa Quang</td>
                      <td>Lưu Kim Loan</td>
                      <td>Lưu Kim Loan</td>
                      <td>Phan Văn Thanh</td>
                      <td>Đang xử lý</td>
                    </tr> 
                    <tr class="green">
                      <td><a href="chi-tiet-cong-viec.html">Công việc 3</a></td>
                      <td>Nội dung công việc</td>
                      <td>23/12/2014 - 23/12/2015</td>
                      
                      <td>Huỳnh Sa Quang</td>
                      <td>Lưu Kim Loan</td>
                      <td>Lưu Kim Loan</td>
                      <td>Phan Văn Thanh</td>
                      <td>Hoàn thành</td>
                    </tr> 
                    <tr class="lightred">
                      <td><a href="chi-tiet-cong-viec.html">Công việc 4</a></td>
                      <td>Nội dung công việc</td>
                      <td>23/12/2014 - 23/12/2015</td>
                      <td>Huỳnh Sa Quang</td>
                      <td>Lưu Kim Loan</td>
                      <td>Lưu Kim Loan</td>
                      <td>Phan Văn Thanh</td>
                      <td>Trễ hạn</td>
                    </tr>   
                  </tbody>
                </table>
              </div>
            </div>
            <div class="sixteen wide column">
              <h3>Thông tin công văn</h3>
            </div>

            <div class="ui top attached tabular menu" id="tabInfo">
              <a class="active item" data-tab="morInfo">More Info</a>
              <a class="item" data-tab="update">Update</a>                  
            </div>
            <div class="ui bottom attached active tab segment" data-tab="morInfo">
              <div class="ui grid">
                
                <div class="center aligned sixteen wide column">
                  <table class="ui definition table">
                    
                    <tbody>
                      <tr>
                        <td class="four wide column">Tên công văn</td>
                        <td class="purple">Xử lý vi phạm pháp luật
                          <a class="ui purple circular label">
                            Đang thực hiện
                          </a>
                        </td>
                        
                      </tr>
                      <tr>
                        <td>Thời gian</td>
                        <td>23/12/2014 - 23/12/2015</td>              
                      </tr>
                      <tr>
                        <td>Nội dung</td>
                        <td>
                          Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật
                        </td>              
                      </tr>
                      <tr>
                        <td>Đính kèm</td>
                        <td>
                          <div class="ui buttons">
                            <div class="ui button">Xem</div>
                            <div class="or"></div>
                            <div class="ui positive button">Tải xuống</div>
                          </div>
                        </td>              
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="update">
              <div class="center aligned sixteen wide column">
                  <table class="ui definition table">
                    
                    <tbody>
                      <tr>
                        <td class="four wide column">Tên công văn</td>
                        <td>
                          <div class="ui form">
                            <div class="field">
                              <input type="text" value="Xử lý vi phạm pháp luật">
                            </div>
                          </div>
                        </td>
                        
                      </tr>
                      <tr>
                        <td>Thời gian</td>
                        <td>
                          <div class="ui form">
                            <div class="two fields">
                              <div class="field">
                                <input type="date" value="2014-12-25">
                              </div>
                              <div class="field">
                                <input type="date" value="2015-12-25">
                              </div>
                              
                            </div>
                          </div>
                        </td>              
                      </tr>
                      <tr>
                        <td>Nội dung</td>
                        <td>
                          <div class="ui form">
                            <div class="field">
                              <textarea>Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật</textarea>
                            </div>
                          </div>
                        </td>              
                      </tr>
                      <tr>
                        <td>Đính kèm</td>
                        <td>
                          <div class="ui form">
                            <div class="field">
                              <div class="fluid ui button" style="text-align:left; height:38px;">
                                <input type="file">
                              </div>
                            </div>
                          </div>
                        </td>              
                      </tr>                
                    </tbody>
                  </table>
                </div>
                <br>
                <div class="ui grid">
                  <div class="right aligned sixteen wide column">
                    <div class="ui buttons">
                      <div class="ui button">Hủy</div>
                      <div class="or"></div>
                      <div class="ui positive button">Lưu</div>
                    </div>
                  </div>
                </div>
            </div>
            
            <br>
              
            <div class="right aligned sixteen wide column">                  
              <table align="right">
                <tr style="text-align:left;">
                  <td>
                    <div class="ui blue empty circular label"></div>
                  </td>
                  <td>
                    <span style="color:blue;">&nbsp;Chưa xem</span>
                  </td>
                </tr>
                <tr style="text-align:left;">
                  <td>
                    <div class="ui purple empty circular label"></div>
                  </td>
                  <td>
                    <span style="color:purple;">&nbsp;Đang xử lý</span>
                  </td>
                </tr> 
                <tr style="text-align:left;">
                  <td>
                    <div class="ui green empty circular label"></div>
                  </td>
                  <td>
                    <span style="color:green;">&nbsp;Hoàn thành</span>
                  </td>
                </tr>                    
                <tr style="text-align:left;">
                  <td>
                    <div class="ui red empty circular label"></div>
                  </td>
                  <td>
                    <span style="color:red;">&nbsp;Trễ hạn</span>
                  </td>
                </tr> 
              </table>              
            </div>
          </div>
        </div>
      </div>      
    </div>

    <div class="ui modal" id="modalCongViecMoi">
      <i class="close icon"></i>
      <div class="header">
        Thêm công việc mới
      </div>
      <div class="content">
        <div class="ui form">
          <div class="field">
            <label>Tiêu đề</label>
            <input type="text">
          </div> 
          <div class="field">
            <label>Nội dung</label>
            <textarea></textarea>
          </div>      
        </div>
        <div class="ui grid">
          <div class="two column row">
            <div class="column">
              <div class="eight wide column">
                <div class="ui form">
                  <div class="field">
                    <label>Đính kèm</label>
                    <div class="fluid ui button" style="text-align:left; height:38px;">
                      <input type="file">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="eight wide column">
                <div class="ui form">
                  <div class="field">
                    <label>Loại công việc</label>
                    <select class="four wide column">
                      <option value="">Chọn loại công việc</option>
                      <option value="1">Loại 01</option>
                      <option value="2">Loại 02</option>
                      <option value="3">Loại 03</option>
                      <option value="4">Loại 04</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui grid">
          <div class="two column row">
            <div class="column">
              <div class="eight wide column">
                <div class="ui form">
                  <div class="field">
                    <label>Ngày ban hành</label>
                    <input type="date">
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="eight wide column">
                <div class="ui form">
                  <div class="field">
                    <label>Ngày hòan thành</label>
                    <input type="date">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui grid">
          <div class="two column row">
            <div class="column">
              <div class="eight wide column">
                <div class="ui form">
                  <div class="field">
                    <label>Người theo dõi</label>
                    <select class="four wide column">
                      <option value="">Chọn người theo dõi</option>
                      <option value="1">Huỳnh Sa Quang</option>
                      <option value="2">Huỳnh Thị Như Ngọc</option>
                      <option value="3">Lưu Kim Loan</option>
                      <option value="4">Phan Văn Thanh</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="eight wide column">
                <div class="ui form">
                  <div class="field">
                    <label>Người cập nhật</label>
                    <select class="four wide column">
                      <option value="">Chọn người cập nhật</option>
                      <option value="1">Huỳnh Sa Quang</option>
                      <option value="2">Huỳnh Thị Như Ngọc</option>
                      <option value="3">Lưu Kim Loan</option>
                      <option value="4">Phan Văn Thanh</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui grid">
          <div class="row">
            <div class="six wide column">
              <label><b>Chọn người thực hiện</b></label><br>
              <select class="ui search dropdown fluid" id="searchNguoiThucHien">
                <option value="">State</option>
                <option value="1">Huỳnh Sa Quang</option>
                <option value="2">Lưu Kim Loan</option>
                <option value="3">Phan Văn Thanh</option>
                <option value="4">Huỳnh Thị Như Ngọc</option>
              </select>
            </div>
  
            <div class="two wide column">
              <br>
              <div class="ui green button fluid" id="addUser">Thêm</div>
            </div>          
            
            <div class="eight wide column">
              <label><b>Danh sách người thực hiện</b></label>
              <table class="ui compact celled definition table" id="tbNguoiThucHien">
                <thead class="full-width">
                  <tr>
                    
                    <th>Họ Và Tên</th>
                    <th>Đơn Vị</th>
                    <th>Chủ trì</th>      
                    <th>Hủy</th>  
                  </tr>
                </thead>
                <tbody>
                </tbody>  
              </table>
            </div>            
          </div>
        </div>
      </div>
        

      <div class="actions">
        <div class="ui button">Cancel</div>
        <div class="ui green button">Send</div>
      </div>
    </div>
    
    <div class="ui modal" id="modalTrangThai">
      <i class="close icon"></i>
      <div class="header">Cập nhật trạng thái công văn</div>
      <div class="content">
        <table class="tbTrangThai">
          <tr>
            <td rowspan="4">
              <div class="ui form">
          <div class="ui vertical steps">
           
            <a href="chi-tiet-cong-van.html">
              <div class="link step">               
                <div class="content">
                  <div class="title">                    
                    <a class="ui blue tag label">chưa xem&nbsp;&nbsp;&nbsp;&nbsp;</a>
                  </div>                  
                </div>
              </div>
            </a>           
            <a href="chi-tiet-cong-van.html">
              <div class="link step">                
                <div class="content">
                  <div class="title"><a class="ui purple tag label">Đang xử lý</a></div>
                </div>
              </div>
            </a>
            <a href="chi-tiet-cong-van.html">
              <div class="link step">                
                <div class="content">
                  <div class="title"><a class="ui green tag label">Hoàn thành</a></div>
                </div>
              </div>
            </a>
            <a href="chi-tiet-cong-van.html">
              <div class="link step">                
                <div class="content">
                  <div class="title"><a class="ui red tag label">&nbsp;&nbsp;&nbsp;&nbsp;Trễ hạn&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
                </div>
              </div>
            </a>

          </div>
        </div>
            </td>              
            <td>
              <div class="field">
                <div class="ui toggle checkbox">
                  <input type="radio" name="privacy"  checked="true">                  
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field">
                <div class="ui toggle checkbox">
                  <input type="radio" name="privacy">                  
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field">
                <div class="ui toggle checkbox">
                  <input type="radio" name="privacy">                  
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field">
                <div class="ui toggle checkbox">
                  <input type="radio" name="privacy">                  
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="actions">
        <div class="ui button">Cancel</div>
        <div class="ui green button">Send</div>
      </div>
    </div>
    
    
    <div class="ui left vertical inverted labeled icon sidebar menu">
      <div class="item"></div>
      <div class="item"></div>
      <a class="item" href="quan-ly-cong-van.html">
        <br>
        Quản lý công văn
        <br>&nbsp;
      </a>
      <a class="item" href="quan-ly-cong-viec.html">
        <br>
        Quản lý công việc
        <br>&nbsp;
      </a>
      <a class="item" href="quan-ly-don-vi.html">
       <br>
        Quản lý đơn vị&nbsp;&nbsp;&nbsp;&nbsp;
        <br>&nbsp;
      </a>
      <div class="item"></div>
      <div class="item"></div>
    </div>
   
  </body>
</html>

<script type="text/javascript">
  $( document ).ready(function() {

    $('.btnSidebar').click(function(){
      $('.left.sidebar')
        .sidebar('toggle')
      ;
    });

    $('#btnCongViecMoi').click(function(){
      $('#modalCongViecMoi').modal('show');
    });
    $('#btnTrangThai').click(function(){
      $('#modalTrangThai').modal('show');
    });

    $('#searchNguoiThucHien').dropdown();
    
    $('.checkbox').checkbox();
    $('#tabInfo .item').tab();

    $('#dropdownLocTheoTrangThai').dropdown();
    $('#dropdownLocTheoLinhVuc').dropdown();

    $('#addUser').click(function(){
      var sD = $('#tbNguoiThucHien > tbody > tr').length;
      var temp = '<tr>'+
        '<td>'+$('#searchNguoiThucHien option:selected').text()+'</td>'+
        '<td>'+$('#searchNguoiThucHien').val()+'</td>'+ 
        '<td>'+
          '<div class="field">'+
            '<div class="ui toggle checkbox">'+
              '<input type="radio" name="privacy">'+              
            '</div>'+
          '</div>'+
        '</td>'+
        '<td><i style="color:red;" class="trash icon"></i></td>'+
      '</tr>'; 
      temp = temp.replace(/__index__/g, sD);                    
      $('#tbNguoiThucHien tbody').append(temp);
      $('.checkbox').checkbox();
    });
    $('body').mousedown(function(){
      
      $('body').css({
        'background-color': 'white',
      });
      return true;
    });
  });
</script>