<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script src="js/jquery.js"></script>
    <script src="vendor/semantic.js"></script>
    <link rel="stylesheet" type="text/css" href="vendor/semantic.css">
    <link rel="stylesheet" type="text/css" href="css/QuanLyCongVanLayout.css">
  </head>
  <body>
    <div class="ui black button btnSidebar" style="margin-left:0px; margin-top:75px; position:fixed; width:100px;">
       Menu
    </div>
    <div class="divContener">
      <div class="ui page grid">
        <div class="sixteen wide column">
          <div class="ui menu">
            <div class="ui green label item"  style="width:215px;">Website Quản Lý Chỉ Đạo</div>
            
            <div class="right menu">
              <i class="ui green label item">Chào: Huỳnh Sa Quang</i>
              <a class="ui green label item" href="index.html" style="width:130px; text-align:center;">Đăng xuất</a>
            </div>
          </div>
        </div>
        <div class="two column row">
          <div class=" left aligned sixteen wide column">
            <div class="divView">               

              <div class="ui grid">                        
                <div class="two column row">                  
                  <div class="eight wide column row">
                    <h3 class="ui header">Danh sách báo cáo</h3>
                  </div>
                  <div class="right aligned eight wide column row">
                    <div class="ui blue button" id="btnBaoCaoMoi">Báo cáo mới</div>
                    <div class="positive ui button" id="btnTrangThai">Cập nhật trạng thái</div>
                    <div class="negative ui button">Xóa công việc</div>
                  </div>
                </div> 
                <div class="sixteen wide column fluid">
                  <table class="ui table">
                    <thead>
                      <tr>
                        <th>STT</th>   
                        <th>Nội dung</th>           
                        <th>Ngày báo cáo</th>              
                        <th>Người báo cáo</th>              
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Báo cáo với xếp: công việc hoàn thành được 50%. đến ngày mai sẽ hoàn thành dứt điểm</td>
                        <td>23/12/2014</td>
                        <td>Phan Văn Thanh</td>
                      </tr>             
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="sixteen wide column">
                <h3>Thông tin công việc</h3>
              </div>
              <div class="ui top attached tabular menu" id="tabInfo">
                <a class="active item" data-tab="morInfo">More Info</a>
                <a class="item" data-tab="update">Update</a>
              </div>
              <div class="ui bottom attached active tab segment" data-tab="morInfo">
                <div class="ui grid">
                  
                  <div class="center aligned sixteen wide column">
                    <table class="ui definition table">
                      
                      <tbody>
                        <tr>
                          <td class="four wide column">Tên công việc</td>
                          <td class="purple">Công việc 01
                            <a class="ui purple circular label">
                              Đang thực hiện
                            </a>
                          </td>
                          
                        </tr>
                        <tr>
                          <td>Thời gian</td>
                          <td>23/12/2014 - 23/12/2015</td>              
                        </tr>
                        <tr>
                          <td>Nội dung</td>
                          <td>
                            Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật
                          </td>              
                        </tr>
                        <tr>
                          <td>Đính kèm</td>
                          <td>
                            <div class="ui buttons">
                              <div class="ui button">Xem</div>
                              <div class="or"></div>
                              <div class="ui positive button">Tải xuống</div>
                            </div>
                          </td>              
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="ui bottom attached tab segment" data-tab="update">
                <div class="center aligned sixteen wide column">
                    <table class="ui definition table">
                      
                      <tbody>
                        <tr>
                          <td class="four wide column">Tên công việc</td>
                          <td>
                            <div class="ui form">
                              <div class="field">
                                <input type="text" value="Công việc 01">
                              </div>
                            </div>
                          </td>
                          
                        </tr>
                        <tr>
                          <td>Thời gian</td>
                          <td>
                            <div class="ui form">
                              <div class="two fields">
                                <div class="field">
                                  <input type="date" value="2014-12-25">
                                </div>
                                <div class="field">
                                  <input type="date" value="2015-12-25">
                                </div>
                                
                              </div>
                            </div>
                          </td>              
                        </tr>
                        <tr>
                          <td>Nội dung</td>
                          <td>
                            <div class="ui form">
                              <div class="field">
                                <textarea>Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật Xử lý vi phạm pháp luật</textarea>
                              </div>
                            </div>
                          </td>              
                        </tr>
                        <tr>
                          <td>Đính kèm</td>
                          <td>
                            <div class="ui form">
                              <div class="field">
                                <div class="fluid ui button" style="text-align:left; height:38px;">
                                  <input type="file">
                                </div>
                              </div>
                            </div>
                          </td>              
                        </tr>                
                      </tbody>
                    </table>
                  </div>
                  <br>
                  <div class="ui grid">
                    <div class="right aligned sixteen wide column">
                      <div class="ui buttons">
                        <div class="ui button">Hủy</div>
                        <div class="or"></div>
                        <div class="ui positive button">Lưu</div>
                      </div>
                    </div>
                  </div>
              </div>
            
              <br>
              <div class="ui grid">
                <div class="right aligned sixteen wide column">                  
                  <table align="right">
                    <tr style="text-align:left;">
                      <td>
                        <div class="ui blue empty circular label"></div>
                      </td>
                      <td>
                        <span style="color:blue;">&nbsp;Chưa xem</span>
                      </td>
                    </tr>
                    <tr style="text-align:left;">
                      <td>
                        <div class="ui purple empty circular label"></div>
                      </td>
                      <td>
                        <span style="color:purple;">&nbsp;Đang xử lý</span>
                      </td>
                    </tr> 
                    <tr style="text-align:left;">
                      <td>
                        <div class="ui green empty circular label"></div>
                      </td>
                      <td>
                        <span style="color:green;">&nbsp;Hoàn thành</span>
                      </td>
                    </tr>                    
                    <tr style="text-align:left;">
                      <td>
                        <div class="ui red empty circular label"></div>
                      </td>
                      <td>
                        <span style="color:red;">&nbsp;Trễ hạn</span>
                      </td>
                    </tr> 
                  </table>              
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modalBaoCaoMoi" class="ui modal">
      <i class="close icon"></i>
      <div class="header">
        Báo cáo mới
      </div>
      <div class="content">
        <div class="ui form">
          <div class="field">
            <label>Nội dung</label>
            <textarea></textarea>
          </div> 
          <div class="field">
            <label>Đính kèm</label>
            <div class="fluid ui button" style="text-align:left; height:38px;">
              <input type="file">
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <a href="chi-tiet-cong-viec.html"><div class="ui button">Cancel</div></a>
        <div class="ui green button">Send</div>
      </div>
    </div>
    <div class="ui modal" id="modalTrangThai">
      <i class="close icon"></i>
      <div class="header">Cập nhật trạng thái công văn</div>
      <div class="content">
        <table class="tbTrangThai">
          <tr>
            <td rowspan="4">
              <div class="ui form">
          <div class="ui vertical steps">
           
            <a href="chi-tiet-cong-van.html">
              <div class="link step">               
                <div class="content">
                  <div class="title">                    
                    <a class="ui blue tag label">chưa xem&nbsp;&nbsp;&nbsp;&nbsp;</a>
                  </div>                  
                </div>
              </div>
            </a>           
            <a href="chi-tiet-cong-van.html">
              <div class="link step">                
                <div class="content">
                  <div class="title"><a class="ui purple tag label">Đang xử lý</a></div>
                </div>
              </div>
            </a>
            <a href="chi-tiet-cong-van.html">
              <div class="link step">                
                <div class="content">
                  <div class="title"><a class="ui green tag label">Hoàn thành</a></div>
                </div>
              </div>
            </a>
            <a href="chi-tiet-cong-van.html">
              <div class="link step">                
                <div class="content">
                  <div class="title"><a class="ui red tag label">&nbsp;&nbsp;&nbsp;&nbsp;Trễ hạn&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
                </div>
              </div>
            </a>

          </div>
        </div>
            </td>              
            <td>
              <div class="field">
                <div class="ui toggle checkbox">
                  <!-- Nếu ở trạng thái nào thì checkbox đó thuộc tính checked="true" -->
                  <input type="radio" name="privacy"  checked="true">
                  
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field">
                <div class="ui toggle checkbox">
                  <input type="radio" name="privacy">
                  
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field">
                <div class="ui toggle checkbox">
                  <input type="radio" name="privacy">
                  
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="field">
                <div class="ui toggle checkbox">
                  <input type="radio" name="privacy">
                  
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="actions">
        <div class="ui button">Cancel</div>
        <div class="ui green button">Send</div>
      </div>
    </div>
    <div class="ui left vertical inverted labeled icon sidebar menu">
      <div class="item"></div>
      <div class="item"></div>
      <a class="item" href="quan-ly-cong-van.html">
        <br>
        Quản lý công văn
        <br>&nbsp;
      </a>
      <a class="item" href="quan-ly-cong-viec.html">
        <br>
        Quản lý công việc
        <br>&nbsp;
      </a>
      <a class="item" href="quan-ly-don-vi.html">
       <br>
        Quản lý đơn vị&nbsp;&nbsp;&nbsp;&nbsp;
        <br>&nbsp;
      </a>
      <div class="item"></div>
      <div class="item"></div>
    </div>
  </body>
</html>
<script type="text/javascript">
  $( document ).ready(function() {
    $('#btnBaoCaoMoi').click(function(){
      $('#modalBaoCaoMoi').modal('show');
    });
    
    $('#btnTrangThai').click(function(){
      $('#modalTrangThai').modal('show');
    });
    $('.checkbox').checkbox();
    $('#tabInfo .item').tab();

    $('.btnSidebar').click(function(){
      $('.left.sidebar')
        .sidebar('toggle')
      ;
    });
    
  });
</script>