<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script src="js/jquery.js"></script>
    <script src="vendor/semantic.js"></script>
    <link rel="stylesheet" type="text/css" href="vendor/semantic.css">
    <link rel="stylesheet" type="text/css" href="css/QuanLyCongVanLayout.css">
    
  </head>
  <body>
    <div class="ui grid">
      <div class="sixteen wide column row banner">
        <img src="img/baner.png">
      </div>

      <div class="two column row">
        <div class="three wide column fluid">
          <div class="ui vertical accordion menu fluid" id="accordion">
            <div class="item  fluid">
              <a class="active title">
                <i class="dropdown icon"></i>
                .:: Quản lý công việc
              </a>
              <div class="active content">
                <div class="ui form">
                  <div class="grouped fields">
                    <div class="field">
                      <i class="caret right icon"></i><a href="#">Công việc cần xử lý</a>
                    </div>
                    <div class="field">
                      <i class="caret right icon"></i><a href="#">Tạo mới công việc</a>
                    </div>
                    <div class="field">
                      <i class="caret right icon"></i><a href="#">Công việc chưa giao</a>
                    <div class="field">
                      <i class="caret right icon"></i><a href="#">Nhật ký công việc</a>
                    </div>
                    
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="item">
              <a class="title">
                <i class="dropdown icon"></i>
                .:: Quản lý công văn
              </a>
              <div class="content">
                <div class="ui form">
                  <div class="grouped fields">
                    <div class="field">
                      <i class="caret right icon"></i><a href="#">Công văn đến</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <a class="title">
                <i class="dropdown icon"></i>
                .:: Quản lý nhân sự
              </a>
              <div class="content">
                <div class="ui form">
                  <div class="grouped fields">
                    <div class="field">
                      <i class="caret right icon"></i><a href="#">Tạo mới đơn vị</a>
                    </div>
                    <div class="field">
                      <i class="caret right icon"></i><a href="#">Tạo mới nhân sự</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="thirteen wide column left aligned">
          <div class="sixteen wide column center aligned">
            <div class="ui form">
              <div class="inline fields">
                <div class="field">
                  <label>Tìm theo hạn xử lý - Từ ngày</label>
                  <input type="date">
                </div>
                <div class="field">
                  <label>Đến ngày</label><input type="date">
                </div>
                <div class="field">
                  <div class="ui blue button">Xem theo ngày đã chọn</div>
                </div>
              </div>
            </div>
          </div>
          <div class="sixteen wide column left aligned fluid">
            <div class="ui form">
              <div class="grouped inline fields fluid">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="fruit" checked="checked">
                    <label>Công việc chưa xử lý</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="fruit">
                    <label>Công việc đang xử lý</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="fruit">
                    <label>Công việc quá hạn</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="fruit">
                    <label>Tất cả công việc</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
              
        </div>
      </div>
    </div>
    
  </body>
</html>
<script type="text/javascript">
  $(document).ready(function(){
    $('#accordion').accordion();

  });
  $('.ui.radio.checkbox').checkbox();
  
</script>
