<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script src="js/jquery.js"></script>
    <script src="vendor/semantic.js"></script>
    <link rel="stylesheet" type="text/css" href="vendor/semantic.css">
    <link rel="stylesheet" type="text/css" href="vendor/QuanLyCongVanLayout.css">
  </head>
  <body>
    <div class="divContener">
      <div class="ui grid">
        <div class="sixteen wide column">
          <div class="ui menu">
            <div class="ui green label item" style="width:215px;">Website Quản Lý Chỉ Đạo</div>
            
            <div class="right menu">
              <i class="ui green label item">Chào: Huỳnh Sa Quang</i>
              <a class="ui green label item" href="index.html" style="width:130px; text-align:center;">Đăng xuất</a>
            </div>
          </div>
        </div>
        <div class="two column row">
          
            <div class="three wide column">
              <div class="sixteen wide column"><h3>&nbsp;</h3></div>

              <div class="ui vertical menu">
                <a class="active teal item" href="quan-ly-cong-van.html">
                  Quản lý công văn
                 
                </a>
                <a class="item" href="quan-ly-cong-viec.html">
                  Quản lý công việc
                  
                </a>
                <a class="item" href="quan-ly-don-vi.html">
                  Quản lý đơn vị
                  
                </a>
              </div>
            </div>
      
          <div class=" left aligned thirteen wide column">
            <div class="divView">
              <div class="ui grid">                 
                <div class="two column row">                  
                  <div class="eight wide column row">
                    <h3 class="ui header">Danh Sách Đơn Vị</h3>
                  </div>
                  <div class="right aligned eight wide column row">
                    <div class="ui blue button" id="btnDonViMoi" style="width:130px;">Đơn vị mới</div>
                  </div>
                </div> 
                <div class="sixteen wide column fluid">
                  <table class="ui table">
                    <thead>
                      <tr>
                        <th>Tên đơn vị</th>
                        <th>Số lượng thành viên</th>
                        <th>Trưởng đơn vị</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="chi-tiet-don-vi.html">Đơn vị 001</a></td>
                        <td>100 thành viên</td>
                        <td>Huỳnh Sa Quang</td>
                        
                      </tr>
                       <tr>
                        <td><a href="chi-tiet-don-vi.html">Đơn vị 002</a></td>
                        <td>100 thành viên</td>
                        <td>Huỳnh Sa Quang</td>
                        
                      </tr>
                      <tr>
                        <td><a href="chi-tiet-don-vi.html">Đơn vị 003</a></td>
                        <td>100 thành viên</td>
                        <td>Huỳnh Sa Quang</td>
                        
                      </tr>
                      <tr>
                        <td><a href="chi-tiet-don-vi.html">Đơn vị 004</a></td>
                        <td>100 thành viên</td>
                        <td>Huỳnh Sa Quang</td>
                        
                      </tr>
                      <tr>
                        <td><a href="chi-tiet-don-vi.html">Đơn vị 005</a></td>
                        <td>100 thành viên</td>
                        <td>Huỳnh Sa Quang</td>
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modalDonViMoi" class="ui modal">
      <i class="close icon"></i>
      <div class="header">
        Thêm đơn vị mới
      </div>
      <div class="content">
        <div class="ui form">
          <div class="field">
            <label>Tên đơn vị</label>
            <input type="text">
          </div> 
        </div>
      </div>
      <div class="actions">
        <div class="ui button">Cancel</div>
        <div class="ui green button">Send</div>
      </div>
    </div>
  </body>
</html>
<script type="text/javascript">
  $( document ).ready(function() {
    $('#btnDonViMoi').click(function(){
      $('#modalDonViMoi').modal('show');
    });
  });
</script>